{{ define "body_class" }}post-template{{ end }}
{{ define "main" }}
<main class="content" role="main">
  <article class="post">
    <header class="post-header">
      {{ with .Params.image }}
        <img src="{{ . }}"></img>
      {{ end }}
      <h2 class="post-title">{{ .Title }}</h2>
      <section class="post-meta">
        <time class="post-date">{{ .Date.Format (.Site.Params.dateFormatToUse | default "January 02, 2006") }}</time>
      </section>
    </header>
    <section class="post-reading-time">
      <span style="color: gray; font-size: 0.8rem;">
      <strong>Reading Time</strong>: <em>Approximately {{ .ReadingTime }} minutes.</em>
      </span>
    </section>
    <section class="post-github-link">
      <span style="color: gray; font-size: 0.8rem;">
        <a href="https://github.com/carlosonunez/blog.carlosnunez.me/blob/master/content/post/{{.Slug}}.md">
          <strong><em>View this post on GitHub</em></strong>.
        </a>
      </span>
    </section>
    <section class="post-content">
      {{ .Content }}
    </section>
    <footer class="post-footer">
      {{ with .Params.linkedin_post_url }}
      <section class="linkedin-cta">
        <span style="color: gray; font-size: 0.8rem">
          <em>Enjoyed this article? <strong>Join the discussion on <a href="{{ . }}">LinkedIn</a>.</strong></em>
        </span>
      </section>
      {{ end }}
      <section class="about-me">
    <hr />
    <h1>About Me</h1>

    <img src="/images/me_20200312.jpg"
         alt="About Me, last updated: 2020 March 12"
         height=35%
         width=35%>

    <em> My name's <strong>Carlos Nunez</strong>. I am an engineering consultant
      with <a href="https://contino.io"><strong>Contino</strong></a>, an international
      DevOps, Cloud and software consultancy whose mission is to help transform every company into a
      technology-first company through upskilling and world-class engineering.
      My mission is to help large enterprises close gaps between product,
      business and engineering so that they can please their customers and make more
      money. When I'm not with my clients, I enjoy travel, writing, and visiting new
  breweries, wineries and distilleries. </em>
      </section>
      {{ with .Params.keywords -}}
      <p></p>
      <section class="tags post-meta">
        Tagged
        {{ range . }}
        {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "keywords/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "keywords/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>
          {{ end -}}
        {{ end }}
      </section>
      {{- end }}
    </footer>
  </article>
</main>
{{ end }}
