{{ define "body_class" }}post-template{{ end }}
{{ define "main" }}
<main class="content" role="main">
  <article class="post">
    <header class="post-header">
      {{ with .Params.image }}
        <img src="{{ . }}"></img>
      {{ end }}
      <h2 class="post-title">{{ .Title }}</h2>
      <section class="post-meta">
        <time class="post-date">{{ .Date.Format (.Site.Params.dateFormatToUse | default "January 02, 2006") }}</time>
      </section>
    </header>
    <section class="post-reading-time">
      <span style="color: gray; font-size: 0.8rem;">
      <strong>Reading Time</strong>: <em>Approximately {{ .ReadingTime }} minutes.</em>
      </span>
    </section>
    <section class="post-github-link">
      <span style="color: gray; font-size: 0.8rem;">
        <a href="https://github.com/carlosonunez/blog.carlosnunez.me/blob/master/content/post/{{.Slug}}.md">
          <strong><em>View this post on GitHub</em></strong>.
        </a>
      </span>
    </section>
    <section class="post-content">
      {{ .Content }}
    </section>
    <footer class="post-footer">
      {{ with .Params.linkedin_post_url }}
      <section class="linkedin-cta">
        <span style="color: gray; font-size: 0.8rem">
          <em>Enjoyed this article? <strong>Join the discussion on <a href="{{ . }}">LinkedIn</a>.</strong></em>
        </span>
      </section>
      {{ end }}
      <section class="about-me">
    <hr />
    <h1>About Me</h1>

    <img src="/images/me_20251016.png"
         alt="About Me, last updated: 2025 December 18"
         height=35%
         width=35%>
    <em>Hi there! My name's <strong>Carlos Nunez</strong>. I'm a solutions architect at
    <a href="https://redhat.com/openshift">Red Hat</a>. I enjoy fitness, minimalist sandals and sneakers, finding <a
    href="https://ktru.org">awesome new radio stations</a>,
    traveling and visiting new brewereies, wineries and distilleries.</em>
      </section>
      {{ with .Params.keywords -}}
      <p></p>
      <section class="tags post-meta">
        Tagged
        {{ range . }}
        {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "keywords/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "keywords/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>
          {{ end -}}
        {{ end }}
      </section>
      {{- end }}
    </footer>
  </article>
</main>
{{ end }}
