{{ if .Site.Params.Keywords }}
{{ if .Keywords }}
<meta name="KEYWORDS" content="{{ .Site.Params.Keywords }},{{ range .Keywords}}{{ . }},{{ end }},writing">
{{ else }}
<meta name="KEYWORDS" content="{{ .Site.Params.Keywords }},writing">
{{ end }}
{{ end }}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="Neurons firing on a keyboard." />
<meta property="og:email" content="dev@carlosnunez.me" />
{{ if not (.IsHome) }}
<meta property="og:image" content="{{ replace .Permalink "/post/" "/images/" }}header.jpg" />
{{ end }}
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ if .IsHome }}Rambings on DevOps, software and hopefully techy things.{{ end }}{{ end }}{{ end }}" />
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ if .IsHome }}Rambings on DevOps, software and hopefully techy things.{{ end }}{{ end }}{{ end }}" />
<meta name="author" content="{{ .Site.Params.Author }}" />

<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ .Site.Params.Author }}",
    "creator" : "{{ .Site.Params.Author }}",
    "publisher": "{{ .Site.Params.Author }}",
    "accountablePerson" : "{{ .Site.Params.Author }}",
    "copyrightHolder" : "{{ .Site.Params.Author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Date }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "keywords" }}{{ range .Params.keywords }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
}
</script>

