<h1>About Me</h1>

<img src="/images/me_20190114.jpg"
     alt="About Me, last updated: 2019 January 14"
     height=35%
     width=35%>

<em> My name's <strong>Carlos Nunez</strong>. I am an engineering consultant
  with <a href="https://contino.io"><strong>Contino</strong></a>, an international
  DevOps, Cloud and software consultancy whose mission is to help transform every company into a
  technology-first company through upskilling and world-class engineering.
  My mission is to help large enterprises close gaps between product,
  business and engineering so that they can please their customers and make more
  money. When I'm not with my clients, I enjoy travel, writing, and visiting new
  breweries, wineries and distilleries. </em>
