{{ $photo_name := ( replaceRE `\.[a-z]{3,}$` "" (.Get "name") )  }}
{{ $photo_height := ( .Get "height" ) }}
{{ $photo_width := ( .Get "width" ) }}
{{ $photo_alt := ( .Get "alt" ) }}
{{ $page_slug := .Page.Slug }}
{{ if ( eq $page_slug "" ) }}
  {{ $page_slug = .Page.File.BaseFileName }}
{{ end }}
{{ $photo_path := ( printf "%s.image_not_found" $photo_name ) }}
{{ range (slice "jpg" "png" "jpeg" "tiff" "gif" "svg") }}
  {{ $ext := . }}
  {{ range (slice "static/images" (printf "static/images/%s" $page_slug)) }}
    {{ $path := . }}
    {{ $want := (printf "%s/%s.%s" $path $photo_name $ext) }}
    {{ if (fileExists $want) }}
      {{ $photo_path = (replace $want "static" "") }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}
<p></p>
<img src="{{ $photo_path }}" {{ if (.Get "height") }} height="{{ $photo_height }}"
     {{ end }}
     {{ if (.Get "width") }}
     width="{{ $photo_width }}"
     {{ end }}
     {{ if (.Get "alt") }}
     alt="{{ $photo_alt }}"
     {{ end }}>
<p></p>
